:root {
  --el-color-primary: #626aef;
  --el-color-primary-light-3: #9197f4;
  --el-color-primary-light-5: #b1b5f7;
  --el-color-primary-light-7: #d0d2fa;
  --el-color-primary-light-8: #e0e1fc;
  --el-color-primary-light-9: #eff0fd;
  --el-color-primary-dark-2: #4e55bf;
}
